body{
    background-image: url(snapcat.jpg);
    background-repeat: no-repeat;
}

p{
    width: 360px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: sans-serif;
    margin-top: 500px
}